<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.ACCESS_NOTIFICATION_POLICY" />
    <uses-permission android:name="android.permission.SCHEDULE_EXACT_ALARM"/>
    <uses-permission android:name="android.permission.USE_EXACT_ALARM"/>
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.SET_ALARM" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" ></uses-permission>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" ></uses-permission>

    <application
        android:screenOrientation="portrait"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="SynapFlow- Final Project"
        android:supportsRtl="true"
        android:theme="@style/Theme.SynapFlow"
        tools:targetApi="31">

        <receiver
            android:name=".BroadcastReceiver"
            android:enabled="true"
            android:exported="false"/>

        <receiver
            android:name="com.hfad.synapflow.Classes.NotificationBroadcastReceiver"
            android:enabled="true"
            android:exported="true"/>

        <activity
            android:name=".HomeActivity"
            android:exported="false" />
        <activity
            android:name=".Data_Progress"
            android:exported="false" />
        <activity
            android:name=".Calendar"
            android:exported="false" />
        <activity
            android:name=".Achievements"
            android:exported="false" />
        <activity
            android:name=".Timer"
            android:exported="false" />
        <activity
            android:name=".Tasks_Menu"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>